#c-accordion {

    &__wrapper {
        background-color: $white;
        color: $black; 
        font-size: 16px;
        text-align: left;
        width: 50%;
        margin: 0 auto;
        padding: 15px 25px;
    }
} 

.c-accordion {
    
    &__panel{
        
        &--body {
            background-color: $white; 
            margin: 25px 0;
            padding: 15px 25px; 
            display: none;

            &.collapsed {
                display: block;
            }
        }
    }

    &__panel--header {
        display: flex;
        background-color: $white; 
        justify-content: space-between;
        align-items: center;
        padding: 5px 25px; 

        &:hover {
            cursor: pointer;
        }

        h5 {
            font-weight: 900;
        }
    }
}

.e-panel--border {
    border: 3px solid $black;
    border-radius: 5px;
    margin-bottom: 15px;
}

// New accordion

#accordion {
    width: 100%;
    margin: 50px auto;

    @include mqMin($tablet-landscape) {
        width: 80%;
        max-width: 800px;
    }

    .c-accordion {
    
        &--section {
            display: flex;
            flex-direction: column;
        }

        &--btn {
            width: 100%;
            background-color: $white; // pull in color variables from global colors partial
            border: 3px solid $black;
            border-radius: 5px;
            margin-bottom: 15px;
            text-align: left;
            font-size: $small + 8;
            font-weight: 700;    
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 25px;
            transition: all 0.2s ease-in-out;

            @include mqMin($tablet-landscape) {
                font-size: $small + 6;
            }

            &:focus {
                outline: 0;
                border: 3px solid #888;
            }
        }

        &--content {
            background-color: $white;
            border-radius: 5px;
            color: $black;
            text-align: left;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-in-out; // transition the height when animating the toggling of the accordion

            &.active {
                margin-bottom: 25px;
                transition: max-height 0.3s ease-in-out; // transition the height when animating the toggling of the accordion
            }
        }

        &--inner-content {
            border: 3px solid $black;
            padding: 15px 25px;
        }
        
    }
}