button {
    color: $black;
    background-color: $white;
    border: none;
    padding: 15px 25px;
}

.c-toggle--btn {
    color: #ecf0f1;
    background: transparent;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 1.5em;
    position: relative;
    pointer-events: none;

    &:hover {
        cursor: pointer;
    }
  
    span {
        position: absolute;
        transition: .3s;
        background: $black;
        border-radius: 2px;
    }
    
    span:first-of-type {
        top: 25%;
        bottom: 25%;
        width: 10%;
        left: 45%;
    }
    
    span:last-of-type {
        left: 25%;
        right: 25%;
        height: 10%;
        top: 45%;
    }
    
    
    
}

.open {

    .c-toggle--btn span:first-of-type, .c-toggle--btn span:last-of-type {
        transform: rotate(90deg);
    }
    
    .c-toggle--btn span:last-of-type {
        left: 50%;
        right: 50%;
    }

}

// New styling for newer accordion build

/* Styling for the plus and minus icon */
.c-accordion--icon {
    color: #ecf0f1;
    background: transparent;
    width: 50px;
    height: 50px;
    border: 0;
    font-size: 1.5em;
    position: relative;
    pointer-events: none;

    &:hover {
        cursor: pointer;
    }
  
    span {
        position: absolute;
        transition: .3s;
        background: $black;
        border-radius: 2px;
    }
    
    span:first-of-type {
        top: 25%;
        bottom: 25%;
        width: 10%;
        left: 45%;
    }
    
    span:last-of-type {
        left: 25%;
        right: 25%;
        height: 10%;
        top: 45%;
    }
    
    
    
}

.open {

    // Rotate plus icon spans to animate into minus icon
    .c-accordion--icon span:first-of-type, .c-accordion--icon span:last-of-type {
        transform: rotate(90deg);
    }
    
    .c-accordion--icon span:last-of-type {
        left: 50%;
        right: 50%;
    }

}