body {
    font-size: $small + 4;
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    color: $white;
    text-align:  center; 
    font-family: 'Lato', sans-serif;

    @include mqMin($ipad) { //Run a media query from mixins to only style from device width
        width: 80%;
        font-size: $medium;
    }

    @include mqMin($tablet-landscape) {    //Run a media query from mixins to only style from device width
        width: 75%;
        font-size: $small + 2;
    }
}

p {
    margin-bottom: 10px;
}