/* Media Query Settings and Mixins
===========================================================================*/

// Add devices max width

// iPhone
$iphone-sml: 320px;
$iphone: 375px;
$iphone-max: 414px;

// Samsung
$galaxy-sml: 360px;
$galaxy-plus: 412px;

// Large Phone
$lrg-phone: 576px;

// iPad
$ipad: 768px;
$ipad-landscape: 1024px;

// Tablet
$tablet: 800px;
$tablet-landscape: 1200px;

// Laptops
$laptop: 1280px;
$laptop-md: 1366px;
$laptop-lg: 1440px;

// Desktop
$desktop: 1680px;
$desktop-hd: 1920px;
$desktop-lg: 2560px;


/* Mixins
===========================================================================*/

// Min
@mixin mqMin($screenSize) {
    @media only screen and (min-width: #{$screenSize}) {
        @content;
    }
}

// Min
@mixin mqMax($screenSize) {
    @media only screen and (max-width: #{$screenSize}) {
        @content;
    }
}

